services:
  - type: web
    name: palocheck-backend
    env: docker
    plan: free
    dockerContext: ./backend
    dockerfilePath: ./backend/Dockerfile
    envVars:
      - key: PORT
        value: 8000
      - key: DATABASE_URL
        sync: false
